.page {
  height: 100%;
  max-height: auto;
  max-width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse; 
}

.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #000000;
  text-align: center;
}

.table td {
	background: #efefef;
  font-weight: bold;
	padding: 5px;
  text-align: center;
	border: 1px solid #000000;
}

.buttons {
  margin-left: auto;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.link {
  padding: 10px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #efefef;
  border: 1px solid #000000;
  border-radius: 5px;
}
